
services:
  reverse-proxy:
    image: nginx:latest
    container_name: hpc-proxy
    ports:
      - "5051:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - frontend
    networks:
      - slurm-hpc-network

  frontend:
    build: ./frontend
    image: adeelumar17/hpc-slurm-frontend:latest
    container_name: hpc-slurm-frontend
    expose:
      - "5051"
    networks:
      - slurm-hpc-network
    restart: always

  backend:
    build: ./backend
    image: adeelumar17/hpc-slurm-backend:latest
    container_name: hpc-slurm-backend
    network_mode: host
    env_file:
      - ./backend/.env
    restart: always

networks:
  slurm-hpc-network:
    driver: bridge

