
services:
  reverse-proxy:
    image: nginx:latest
    container_name: hpc-proxy
    ports:
      - "5051:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - backend
    networks:
      - slurm-hpc-network

  frontend:
    image: adeelumar17/hpc-slurm-frontend:v1.1.1
    container_name: hpc-slurm-frontend
    expose:
      - "5051"
    networks:
      - slurm-hpc-network
    restart: always

  backend:
    image: adeelumar17/hpc-slurm-backend:v1.1.1
    container_name: hpc-slurm-backend
    expose:
      - "5052"
    env_file:
      - ./backend/.env
    networks:
      - slurm-hpc-network
    restart: always

networks:
  slurm-hpc-network:
    driver: bridge
